[submodule "front"]
	path = front
	url = https://github.com/rojo2/madrid-traffic-front
[submodule "docker"]
	path = docker
	url = https://github.com/rojo2/madrid-traffic-docker
[submodule "data"]
	path = data
	url = https://github.com/rojo2/madrid-traffic-data
[submodule "scraper"]
	path = scraper
	url = https://github.com/rojo2/madrid-traffic-scraper
[submodule "api"]
	path = api
	url = https://github.com/rojo2/madrid-traffic-api
